[user]
	name = mohsenfallah
	email = mohsefalllah@gmail.com
[gui]
	recentrepo = D:/tamrin
	recentrepo = D:/tamrine6.1
	recentrepo = E:/New folder (4)
	recentrepo = C:/Users/Fallahnezhad/OneDrive/دسکتاپ/new
